
  <style>
  
   #hon {font-size:30px;background:red}
  
  .style2 {text-align:left;color:blue}
  
  .stylr {text-align:left;color:green}
  
  .mon {font-size:35px;color:red}
  
  .sopno {font-size:15px;text-align:center;background:red;padding-top:30px;padding-bottom:50px
  
  ;float:right;width:300px;min-height:300px}
  
  .sumon {float:bottom;left;width:300px;text-align:center;color:white;background:black;height:200px}
  
  .rana {font-size:60px;color:red;text-align:center;background:black;}
  
  .phon {font-size:60px;text-align:center;background:black }
  
  .bd {font-size:40px; text-align:center;background:#808000}
  .sit {font-style:b;font-size:40px;color:green;background:#728FCE}
  .s73 {font-size:30px;color:#AF999B}
  .home {font-size:40px;text-align:center}
</style>
